<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="dashboard, multi-user for shadowsocks"/>
  <meta name="keywords" content="ss, shadowsocks, multi-user, web, managements, visualizations"/>
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <title>Mus</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body md-theme="default" layout="row" ng-controller='SidenavCtrl'>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">

    <md-toolbar>
      <h1 class="md-toolbar-tools">
        <a href="" ng-click="goHome()">Mus</a>
      </h1>
    </md-toolbar>

    <md-content flex>
      <div ng-repeat="section in menu.sections">
        <button class="menu-item menu-title md-menu-item"
                ng-if="!section.url"
                ng-click="menu.toggleSelectSection(section)"
                ng-href="#{{section.url}}"
                md-highlight="menu.isSectionSelected(section)"
                md-ink-ripple="#bbb"
                ng-bind="section.name"></button>
        <a href="" class="menu-item menu-title md-menu-item"
           ng-if="section.url"
           ng-click="menu.toggleSelectSection(section)"
           ng-href="#{{ section.url }}"
           md-highlight="menu.isSectionSelected(section)"
           md-ink-ripple="#bbb">
          <span ng-bind="section.name">
            <md-tooltip ng-if="section.tooltip">
              <span ng-bind="section.tooltip"></span>
            </md-tooltip>
          </span>
        </a>
      </div>
      <nav class="app-footer">
        <div>
          <a href="https://github.com/JohnSmithX/mus">
            <img src="images/github.svg" width="16"/>
          </a>
        </div>
        <div>Create by <a href="https://github.com/JohnSmithX" target="_blank">xus</a></div>
        <div>© Mus 2015</div>
      </nav>
    </md-content>
  </md-sidenav>


  <!--ng-view-->
  <div layout="column" tabindex="-1" role="main" flex>
    <md-toolbar layout="column" ng-click="openMenu()" class="md-default-theme md-toolbar-tools" flex>
      <md-list layout="row" layout-align="left center" flex>

        <md-item style="float:right; right: 26px;" hide-sm>
          <md-item-content>
            <div>Login</div>
          </md-item-content>
        </md-item>

        <md-item>
          <md-item-content>
            <md-button class="menu-icon" hide-gt-sm aria-label="Toggle Menu">
              <div class="icon svg-ic_menu_24px"></div>
            </md-button>
          </md-item-content>
        </md-item>

        <md-item ng-repeat="breadcrumb in menu.breadcrumbs" layout="column">
          <md-item-content layout-align="left center" flex>
            <div>
              <a href="" ng-href="#{{menu.breadcrumbUrl($index)}}">
                {{(breadcrumb.name || breadcrumb) | unescape }}
              </a>
            </div>
            <div ng-if="$index < menu.breadcrumbs.length - 1" class="menu-separator-icon" style="padding-right: 3px; padding-left: 3px;">
              <div class="icon svg-ic_chevron_right_24px" aria-hidden="true"></div>
            </div>
          </md-item-content>
        </md-item>

      </md-list>
    </md-toolbar>
    <md-content layout="column" class="md-padding" ui-view flex></md-content>
  </div>


  <script src="/js/bundle.js"></script>

</body>
</html>
