<div layout="column" layout-fill class="images"  flex>
  <md-toolbar layout="column" md-theme="none" flex style="max-height: 64px;">
    <md-list layout="row" md-theme="default" role="list">
      <md-item>
        <md-item-content>
          <md-button>
            <md-tooltip>xus</md-tooltip>
            <div class="icon svg-ic_pause_24px"></div>
          </md-button>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-button>
            <md-tooltip>xus</md-tooltip>
            <div class="icon svg-ic_play_arrow_24px"></div>
          </md-button>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-button>
            <md-tooltip>xus</md-tooltip>
            <div class="icon svg-ic_replay_24px"></div>
          </md-button>
        </md-item-content>
      </md-item>
    </md-list>
  </md-toolbar>
</div>